<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{meta_description}{/}">
<meta name="keywords" content="{meta_keywords}{/}">
<meta name="author" content="">
<title>{title}Epan{/}</title>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries --><!-- WARNING: Respond.js doesn't work if you view the page via file:// --><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]--><!--xEpan-ATK-Header-Start
 {$js_block}
 {$js_include}
 <script type="text/javascript">
 $(function(){
 {$document_ready}
 });
 </script>
 <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
 xEpan-ATK-Header-End--><!-- BASE CSS --><link href="css/mystyle.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="css/owl.theme.default.css">
</head>
<body style="overflow: visible; cursor: default;">
  <div class="xepan-v-body xepan-component xepan-sortable-component ui-sortable" xepan-component-name="Main Body" id="7f6b7967-71aa-436d-9ab2-b43c956f4942" text-color="">
    
    <div class="layer" style=""></div>
    <!-- Mobile menu overlay mask -->
    <div id="preloader">
        <div data-loader="circle-side"></div>
    </div>
<!-- End Preload -->
    
    <!-- Header ================================================== -->
    <header>
      <div class="container" xepan-component="xepan/cms/Tool_Container" emptytext="Container" xepan-component-name="Container">
          <div class="row">
              <div class="col--md-3 col-sm-3 col-xs-3">
                  <a href="index.html" id="logo">
                  <img src="images/logo.png" alt="" data-retina="true" width="230" height="23"></a>
              </div>
              <nav class="col--md-9 col-sm-9 col-xs-9">
                <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);">
                  <span>Menu mobile</span>
                </a>
                <div class="main-menu">
                  <div id="header_menu">
                    <img src="images/logo_m.png" alt="" data-retina="true" width="141" height="40">
                  </div>
                  <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
                  <!-- category tool -->
                  <div class="xepan-component xepan-serverside-component" xepan-component-name="Category" xepan-component="xepan/listing/Tool_Category" template="menu" sorting_order="asc" id="xepan-d891e1d4-c84a-475a-b3a4-f49421524f37" submenu_icon_class="icon-down-open-mini" text-color="" show_post_count="false" order="true" show_post="true" scrollamount=""></div>
                </div>
                <!-- End main-menu -->
              </nav>
          </div>
      </div>
    </header>
    <!-- End Header =============================================== -->

    <div id="2c2519c2-cdd3-4644-f400-ea09bd7c1ca0" xepan-component="xepan/cms/Tool_Container" emptytext="Container" style="width: 100%; margin: 0px auto;" xepan-component-name="Container" class="xepan-component xepan-sortable-component xepan-cms-container ui-sortable margin_60_35">
      <div id="874590a5-1683-4e29-cf77-5bd41f4f3ac7" xepan-component="xepan/cms/Tool_TemplateContentRegion" emptytext="Page Content" xepan-component-name="Template Content Region" class="xepan-component xepan-page-wrapper ui-sortable">{$Content}</div>
    </div>

    <!-- script -->
    <script src="js/common_scripts_min.js"></script>
    <script src="js/functions.js"></script>
    
  </div>
</body>
</html>
