<div class="{$class}" style="{$style}" id="{$_name}">
    {$header}
    {rows}{row}
    <div class="row" style="padding: 15px;background:white;">
        <div class="col-md-5">
            <figure class="room_pic">
            <a href="#">
                <div class="label label-primary" style="font-size:14px">{$property_type} {$property_status}</div> 
                <img src="{$profile_image}" alt="{$title}" onerror="this.src='websites/realtors/www/images/no-image-placeholder-small.png'" class="img-responsive"></a>
                <span class="wow zoomIn animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: zoomIn;">
                    <sup>Rs</sup>
                    <h5 style="color:white;font-weight: bold;">{$price}</h5>
                </span>
            </figure>
        </div>
        <div class="col-md-6 col-md-offset-1">
            <div class="room_desc_home">
                <h3>{$title} </h3>
                <p>
                    <i class="icon_set_1_icon-41"></i>&nbsp;{$address} {$city} {$state}<br/>
                    <i class="icon_set_1_icon-4"></i>&nbsp;<strong>{$bhk}</strong><br/>
                    <i class="icon_set_1_icon-3"></i>&nbsp;Area: <strong>{$area}</strong> /sqft
                </p>
                <ul>
                    <li>
                        <span class="icon-swimming"></span>
                    </li>
                    <li>
                        <span class="icon-garden"></span>
                    </li>
                    <li>
                        <span class="icon_set_1_icon-21"></span>
                    </li>
                    <li>
                        <span class="icon_set_1_icon-8"></span>
                    </li>

                    <li>
                    <div class="tooltip_styled tooltip-effect-4">
                        <span class="tooltip-item"><i class="icon_set_2_icon-104"></i></span>
                        <div class="tooltip-content">
                            King size bed
                        </div>
                    </div>
                    </li>
                    <li>
                    <div class="tooltip_styled tooltip-effect-4">
                        <span class="tooltip-item"><i class="icon_set_2_icon-118"></i></span>
                        <div class="tooltip-content">
                            Shower
                        </div>
                    </div>
                    </li>
                    <li>
                    <div class="tooltip_styled tooltip-effect-4">
                        <span class="tooltip-item"><i class="icon_set_2_icon-116"></i></span>
                        <div class="tooltip-content">
                            Plasma TV
                        </div>
                    </div>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-md-7 col-sm-12 col-xs-12 col-lg-7">
                        <i class="fa fa-user">&nbsp;{$created_by}</i>
                    </div>
                    <div class="col-md-5 col-sm-12 col-xs-12 col-lg-5">
                        <i class="fa fa-calendar">&nbsp;{$created_date}</i>
                    </div>
                </div>
                <a href="{$detail_url}" target="_blank" class="btn_1_outline">Read more</a>
            </div>
        </div>
    </div>
    <hr/>
    {/}{/}
    {not_found}{$not_found_message}{/}
    {$Paginator}
</div>
